body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f2f1;
  }
  
  /*  Header dan Navigasi  */
  header {
    background-color: #00796b;
    color: rgb(0, 0, 0);
    padding: 10px 0;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
  }

  .dashboard  {
    text-align: center;
    background-color: rgb(132, 145, 205);
    padding: 1%;
  }
  


  nav h1 {
    margin: 0;
    font-size: 24px;
  }


  nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
  }
  
  nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
  }


h1 {
    text-align: center;
}

.label_registrasi{
    text-align: center;
    background-color: rgb(157, 165, 200);
    padding: 1%;   
    margin-top: 0%;
}

.daftar {
    text-align: center;
    padding: 4%;
}

    /*  Footer  */
    footer {
        text-align: center;
        background-color: #000000;
        color: rgb(255, 255, 255);
        padding: 10px;
        margin-top: 3%;
        font-size: 16px;
      }


  /* Media mobile */
  @media only screen and (max-width: 600px) {
    nav {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    nav ul {
      flex-direction: column;
      gap: 10px;
    }
  
    nav h1 {
      margin-bottom: 10px;
    }
  
    .btn {
      width: 80%;
      font-size: 16px;
    }
  
    footer {
      font-size: 14px;
      padding: 15px;
    }
  
    /* Buat login di tengah layar */
    .daftar {
      margin: 0;
      height: 70vh; /* penuh 1 layar */
      display: flex;
      flex-direction: column;
      justify-content: center; /* vertikal */
      align-items: center;     /* horizontal */
      padding: 20px;
    }
  