body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f2f1;
  }
  
  /*  Header dan Navigasi  */
  header {
    background-color: #00796b;
    color: rgb(0, 0, 0);
    padding: 10px 0;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
  }
  
  nav h1 {
    margin: 0;
    font-size: 24px;
  }

  section h1 {
    margin: 0;
    font-size: 30px;
  }

  nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
  }
  
  nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
  }

  .card_atas {
    background-color: #bba1ab;
    padding: 1%;
  }

  h2{
    text-align: center;
    
  }


  p{
    text-align: center;
  }

  .lingkungan {
    text-align: center;
    background-color: #307932e9;
    margin: 0px;
    padding: 80px;
  }

  .energi {
    text-align: center;
    background-color: #66a526e9;
    margin: 0px;
    padding: 80px;
  }
  
  .keamanan {
    text-align: center;
    background-color: #2165a5e9;
    margin: 0px;
    padding: 80px;
  }

  /*  Footer  */
  footer {
    text-align: center;
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 16px;
  }
  
div{
    display: block;
    text-align: center;
    width: 300px;
    margin: 20px auto;
    padding: 10px;
    background-color: #0eb4a1;
    color: rgb(0, 0, 0);
    border-radius: 20px;
}

a {
    color: black;          
    text-decoration: none;
  }

  /*media mobile*/
  @media only screen and (max-width: 600px) {
    nav {
        flex-direction: column;  
        align-items: center; 
        text-align: center;
    }
    
    nav ul {
        flex-direction: column; 
        gap: 10px;
    }

    nav h1 {
        margin-bottom: 10px;
      }


    .btn {
        width: 80%;    
        font-size: 16px;
    }
    
    footer {
        font-size: 14px;
        padding: 15px;
      }
    }