body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f2f1;
  }

  /*  Header dan Navigasi  */
  header {
    background-color: #00796b;
    color: rgb(0, 0, 0);
    padding: 10px 0;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
  }

  .dashboard  {
    text-align: center;
    background-color: rgb(132, 145, 205);
    padding: 1%;
  }
  

  .welcome {
    padding: 3%;
    background-color:#a5c3c2;
  }
  nav h1 {
    margin: 0;
    font-size: 24px;
  }
  
  section h1 {
    margin: 0;
    font-size: 30px;
  }

  nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
  }
  
  nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
  }

  h2{
    text-align: center;
  }

h3{
    text-align: center;
}
  p{
    text-align: center;
  }

  .energi_hijau {
    background-color: #2f7943;
    padding: 1%;
  }

  .cyber_security {
    background-color: #448dbd;
    padding: 1%;
  }

  .ecology_tips {
    background-color: #8c304c;
    padding: 1%;
  }

  .quiz{
    background-color: #838c30;
    padding: 1%;
  }

  .energy_btn {
    display: block;
    text-align: center;
    width: 300px;
    margin: 20px auto;
    padding: 10px;
    background-color: #0eb4a1;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 5px;
  }

  .cyber_btn {
    display: block;
    text-align: center;
    width: 150px;
    margin: 20px auto;
    padding: 10px;
    background-color: #0eb4a1;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 5px;
  }

  .ecology_btn {
    display: block;
    text-align: center;
    width: 150px;
    margin: 20px auto;
    padding: 10px;
    background-color: #0eb4a1;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 5px;
  }

  .quiz_btn {
    display: block;
    text-align: center;
    width: 150px;
    margin: 20px auto;
    padding: 10px;
    background-color: #0eb4a1;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 5px;
  }

    /*  Footer  */
    footer {
      text-align: center;
      background-color: #000000;
      color: rgb(255, 255, 255);
      padding: 10px;
      font-size: 16px;
    }
    

     /*media mobile*/
  @media only screen and (max-width: 600px) {
    nav {
        flex-direction: column;  
        align-items: center; 
        text-align: center;
    }
    
    nav ul {
        flex-direction: column; 
        gap: 10px;
    }

    nav h1 {
        margin-bottom: 10px;
      }

    .btn {
        width: 80%;    
        font-size: 16px;
    }
    
    footer {
        font-size: 14px;
        padding: 15px;
      }