
/*  Atur tampilan umum  */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f2f1;
  }

  /*  Header dan Navigasi  */
  header {
    background-color: #00796b;
    color: rgb(0, 0, 0);
    padding: 10px 0;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
  }
  
  nav h1 {
    margin: 0;
    font-size: 24px;
  }
  

  section h1 {
    margin: 0;
    font-size: 30px;
  }


  nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
  }
  
  nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
  }
  
  /*  SELAMAT DATANG */
  .awal{
    text-align: center;
    padding: 40px;
    background-color: rgb(112, 95, 95);
    margin: 0px;
  }
  
  /* Card */

  .penjelasan {
    display: flex;            
    align-items: center;        
    gap: 20px;                 
    background-color: rgb(178, 182, 198);     
    padding: 10px;
    margin: 0px;
  }
  
  .penjelasan img {
    width: 150px;
    height: auto;
  }
  
  .lingkungan {
    text-align: center;
    background-color: #34a737e9;
    margin: 0px;
    padding: 80px;
  }

  .keamanan {
    text-align: center;
    background-color: #3e60ae;
    margin: 0;
    padding: 80px;
  }

  .card h3 {
    color: #000000;
  }
  
  .card p {
    color: #000000;
  }
  
  /*  Tombol sederhana  */
  .btn {
    display: block;
    text-align: center;
    width: 150px;
    margin: 20px auto;
    padding: 10px;
    background-color: #0eb4a1;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 5px;
  }
  
  .btn:hover {
    background-color: #004d40;
  }

  /*  Footer  */
  footer {
    text-align: center;
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 16px;
  }
  
  
  /*media mobile*/
  @media only screen and (max-width: 600px) {
    nav {
        flex-direction: column;  
        align-items: center; 
        text-align: center;
    }
    
    nav ul {
        flex-direction: column; 
        gap: 10px;
    }

    nav h1 {
        margin-bottom: 10px;
      }

      
      .awal {
        padding: 20px;
        font-size: 18px;
      }


      .penjelasan {
        flex-direction: column;
        text-align: center;
        padding: 20px;
      }

      .penjelasan img {
        width: 200px;    
    }

    .lingkungan, .keamanan {
        padding: 40px 10px;  
    }


    .btn {
        width: 80%;    
        font-size: 16px;
    }
    
    footer {
        font-size: 14px;
        padding: 15px;
      }

  }
  