body {
    font-family: Arial, sans-serif;
    background-color: #e0f2f1;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #00796b;
    color: white;
    text-align: center;
    padding: 15px;
  }
  
  header nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  
  main {
    padding: 20px;
  }
  
  h2 {
    text-align: center;
    color: #004d40;
  }

  .grid-container {
    text-align: center;
    background-color: #90bcb7;
    padding: 1%;
  }

.login{
    text-align: center;
    margin: 200px;
}
    
  footer {
    text-align: center;
    background-color: #000;
    color: white;
    padding: 10px;
    margin-top: 60px;
  }
  
  /* Responsif untuk layar kecil */
@media only screen and (max-width: 600px) {

  header {
    padding: 10px;
  }

  header nav {
    display: flex;
    flex-direction: column; 
    align-items: center;
  }

  header nav a {
    display: block;
    margin: 5px 0; 
    font-size: 14px;
  }

  main {
    padding: 10px;
  }

  h2 {
    font-size: 18px;
  }

  .login {
    margin: 80px 20px; 
  }

  .grid-container {
    padding: 5%;
    font-size: 14px;
  }

  footer {
    font-size: 14px;
    padding: 15px;
  }
